#### Answer 1.

In [2]:
def is_symmetrical(inp):
    if str(inp) == str(inp)[::-1]:
        print(True)
    else:
        print(False)
is_symmetrical(1112111)
is_symmetrical(12567)

True
False

#### Answer 2

In [8]:
def multiply_nums(string):
    empty = string.replace(' ','').split(',')
    # print(empty)
    num = 1
    for ele in empty:
        num = num * int(ele)
    print(f"After multiplying {string} = {num}")
multiply_nums("2, 3")

After multiplying 2, 3 = 6

#### Answer 3

In [10]:
def square_digits(inp):
    lst = [str(int(ele)**2) for ele in str(inp)]
    output = ' '.join(lst)
    print(f"After squaring every digit : {output}")
square_digits(2483)

After squaring every digit : 4 16 64 9

#### Answer 4

In [11]:
def setify(lst):
    empty = sorted(set(lst))
    print(f"Final : {empty}")
    
setify([1,3,3,5,5])

Final : [1, 3, 5]

#### Answer 5

In [12]:
def mean(in_num):
    in_list = [int(ele) for ele in str(in_num)]
    out_num = sum(in_list)/len(str(in_num))
    print(f'Mean of {in_num}  ➞ {out_num:.0f}')
    
mean(42)

Mean of 42  ➞ 3